import pandas as pd
import numpy as np
import seaborn as sns
import sklearn
import warnings; warnings.simplefilter('ignore')
from sklearn.preprocessing import StandardScaler
import gc

In [ ]:
data_train=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/training.csv")
     

data_test=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/testing.csv")

Exploratory data analysis

In [ ]:
#Dropping these three column from train and test data
data_train.drop(["pkSeqID","seq","subcategory"], axis=1, inplace=True)
     

data_test.drop(["pkSeqID","seq","subcategory"], axis=1, inplace=True)

In [ ]:
indexNames = data_train[data_train['category']=='Theft'].index
data_train.drop(indexNames , inplace=True)

In [ ]:
#Replacing the values
data_train['sport']=data_train['sport'].replace(['0x0303'],'771') 
data_train['sport']=data_train['sport'].replace(['0x0011'],'17')
data_train['sport']=data_train['sport'].replace(['0x000d'],'13')
data_train['sport']=data_train['sport'].replace(['0x0008'],'8')

In [ ]:
data_train["sport"] = data_train["sport"].astype(str).astype(int)
     

data_test['sport']=data_test['sport'].replace(['0x0303'],'771') 
data_test['sport']=data_test['sport'].replace(['0x0011'],'17')
data_test['sport']=data_test['sport'].replace(['0x000d'],'13')
data_test['sport']=data_test['sport'].replace(['0x0008'],'8')
     

data_test["sport"] = data_test["sport"].astype(str).astype(int)
     

data_train['dport']=data_train.dport.apply(lambda x: int(x,16) if len(x)>1 and x[1]=="x" else int(x))
     

data_test['dport']=data_test.dport.apply(lambda x: int(x,16) if len(x)>1 and x[1]=="x" else int(x))

In [ ]:
#One hot encoding
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data_train["saddr_enc"]= le.fit_transform(data_train.saddr)
data_train["daddr_enc"]= le.fit_transform(data_train.daddr)
data_train["proto_enc"]= le.fit_transform(data_train.proto)
data_train["category_enc"]= le.fit_transform(data_train.category)
data_train.drop(['saddr','daddr','proto','category'], axis=1, inplace=True)

In [ ]:


from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data_test["saddr_enc"]= le.fit_transform(data_test.saddr)
data_test["daddr_enc"]= le.fit_transform(data_test.daddr)
data_test["proto_enc"]= le.fit_transform(data_test.proto)
data_test["category_enc"]= le.fit_transform(data_test.category)
data_test.drop(['saddr','daddr','proto','category'], axis=1, inplace=True)

In [ ]:
data_train.head()

,sport,dport,stddev,N_IN_Conn_P_SrcIP,min,state_number,mean,N_IN_Conn_P_DstIP,drate,srate,max,attack,saddr_enc,daddr_enc,proto_enc,category_enc
0,6551,80,1.900363,100,0.000000,4,2.687519,100,0.0,0.494549,4.031619,1,4,15,4,0
1,5532,80,0.078003,38,3.856930,3,3.934927,100,0.0,0.256493,4.012924,1,4,15,3,0
2,27165,80,0.268666,100,2.974100,3,3.341429,100,0.0,0.294880,3.609205,1,1,15,3,0
3,48719,80,1.823185,63,0.000000,4,3.222832,63,0.0,0.461435,4.942302,1,4,15,4,1
4,22461,80,0.822418,100,2.979995,4,3.983222,100,0.0,1.002999,4.994452,1,1,15,4,0

In [ ]:
gc.collect()

49

In [ ]:
# Assuming "category_enc" is a column name in the data_train and data_test DataFrames

import pandas as pd
from sklearn.preprocessing import StandardScaler

# Accessing "category_enc" column from data_train DataFrame
y_train = data_train["category_enc"]

# Accessing "category_enc" column from data_test DataFrame
y_test = data_test["category_enc"]

# Scaling features in data_train DataFrame
scaler = StandardScaler()
features_train = data_train.iloc[:,:-1]
cols_train = features_train.columns
scaled_features_train = scaler.fit_transform(features_train)
train = pd.DataFrame(scaled_features_train, columns=cols_train)

# Scaling features in data_test DataFrame
features_test = data_test.iloc[:,:-1]
cols_test = features_test.columns
scaled_features_test = scaler.transform(features_test) # Using transform instead of fit_transform for test data
test = pd.DataFrame(scaled_features_test, columns=cols_test)

In [ ]:
data_train

,sport,dport,stddev,N_IN_Conn_P_SrcIP,min,state_number,mean,N_IN_Conn_P_DstIP,drate,srate,max,attack,saddr_enc,daddr_enc,proto_enc,category_enc
0,6551,80,1.900363,100,0.000000,4,2.687519,100,0.000000,0.494549,4.031619,1,4,15,4,0
1,5532,80,0.078003,38,3.856930,3,3.934927,100,0.000000,0.256493,4.012924,1,4,15,3,0
2,27165,80,0.268666,100,2.974100,3,3.341429,100,0.000000,0.294880,3.609205,1,1,15,3,0
3,48719,80,1.823185,63,0.000000,4,3.222832,63,0.000000,0.461435,4.942302,1,4,15,4,1
4,22461,80,0.822418,100,2.979995,4,3.983222,100,0.000000,1.002999,4.994452,1,1,15,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2934812,56044,80,0.016992,100,4.082509,4,4.102515,100,0.000000,0.243473,4.124047,1,3,17,4,1
2934813,21546,80,1.922317,100,0.000000,4,2.718527,100,0.000000,0.490800,4.090534,1,4,15,4,0
2934814,30897,80,2.112228,100,0.000000,4,2.110766,100,0.000000,0.207444,4.332615,1,3,17,4,1
2934815,36904,80,0.000000,100,0.000000,3,0.000000,100,0.000000,0.162130,0.000000,1,1,20,3,1
2934816,14302,80,0.053820,100,0.064767,1,0.118588,100,0.038796,0.116388,0.172408,1,4,15,3,1

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from keras.models import Sequential
from keras.layers import Conv2D, MaxPooling2D, Flatten, Dense

In [ ]:
X_train.shape[1]

15

In [ ]:
input_shape=(X_train.shape[1], 1, 1)
print(input_shape)

(15, 1, 1)

In [ ]:


X_train, y_train = data_train.drop(['category_enc'], axis=1), data_train['category_enc']
X_test, y_test = data_test.drop(['category_enc'], axis=1), data_test['category_enc']

In [ ]:
# Scale the data
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Reshape the data for CNN
X_train = X_train.reshape(X_train.shape[0], X_train.shape[1], 1, 1)
X_test = X_test.reshape(X_test.shape[0], X_test.shape[1], 1, 1)

# Build the CNN model
model = Sequential()
model.add(Conv2D(filters=32, kernel_size=(1, 1), activation='relu', input_shape=(X_train.shape[1], 1, 1)))
model.add(MaxPooling2D(pool_size=(1, 1)))
model.add(Conv2D(filters=64, kernel_size=(1, 1), activation='relu'))
model.add(MaxPooling2D(pool_size=(1, 1)))
model.add(Flatten())
model.add(Dense(units=64, activation='relu'))
model.add(Dense(units=1, activation='sigmoid'))

In [ ]:
model.fit(X_train, y_train, batch_size=32, epochs=2, verbose=1)

Epoch 1/2
91711/91711 [==============================] - 301s 3ms/step - loss: -6881644544.0000 - accuracy: 0.9176
Epoch 2/2
91711/91711 [==============================] - 304s 3ms/step - loss: -177050681344.0000 - accuracy: 0.9187

In [ ]:
# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [ ]:
y_probs = model.predict(X_test)

# Convert class probabilities to predicted classes
y_pred = y_probs.argmax(axis=-1)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy: {:.2f}%".format(accuracy * 100))

22929/22929 [==============================] - 31s 1ms/step
Accuracy: 52.52%

Hybrid Model(CNN+RNN)

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from keras.layers import Dense, Embedding, Conv1D, MaxPooling1D, LSTM, concatenate
from keras.models import Sequential
from keras.optimizers import Adam

In [ ]:
# Define CNN model
cnn_model = Sequential()
cnn_model.add(Embedding(1000, 32, input_length=X_train.shape[1]))
cnn_model.add(Conv1D(filters=64, kernel_size=3, activation='relu'))
cnn_model.add(MaxPooling1D(pool_size=2))
cnn_model.add(Dense(64, activation='relu'))

In [ ]:
# Define RNN model
rnn_model = Sequential()
rnn_model.add(Embedding(1000, 32, input_length=X_train.shape[1]))
rnn_model.add(LSTM(64, return_sequences=True))
rnn_model.add(LSTM(64))
rnn_model.add(Dense(64, activation='relu'))

In [ ]:
from keras.layers import concatenate, Dense, Reshape
from keras.models import Model

# Assuming cnn_model and rnn_model are already defined

# Reshape rnn_model output to match cnn_model output shape
rnn_output_reshaped = Reshape((1,64))(rnn_model.output)  # Reshape to match cnn_model output shape

# Concatenate cnn_model and rnn_model outputs
merged_model = concatenate([cnn_model.output, rnn_output_reshaped], axis=1)  # Concatenate along axis=1

# Add additional layers to the merged model
merged_model = Dense(64, activation='relu')(merged_model)
merged_model = Dense(1, activation='sigmoid')(merged_model)

# Create the final merged model
merged_model = Model(inputs=[cnn_model.input, rnn_model.input], outputs=merged_model)

In [ ]:
import tensorflow as tf
model = tf.keras.Sequential()
# Compile the model
model.compile(optimizer=Adam(lr=0.09), loss='binary_crossentropy', metrics=['accuracy'])
#(lr=0.001)
# Train the hybrid learning model
model.fit([X_train, X_train], y_train, batch_size=32, epochs=2, validation_data=([X_test, X_test], y_test))

/usr/local/lib/python3.9/dist-packages/keras/optimizers/legacy/adam.py:117: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super().__init__(name, **kwargs)

Epoch 1/2

WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor. Received: inputs=(<tf.Tensor 'IteratorGetNext:0' shape=(32, 15) dtype=float64>, <tf.Tensor 'IteratorGetNext:1' shape=(32, 15) dtype=float64>). Consider rewriting this model with the Functional API.
WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor. Received: inputs=(<tf.Tensor 'IteratorGetNext:0' shape=(32, 15) dtype=float64>, <tf.Tensor 'IteratorGetNext:1' shape=(32, 15) dtype=float64>). Consider rewriting this model with the Functional API.

91708/91711 [============================>.] - ETA: 0s - loss: 14.5017 - output_1_loss: 7.2509 - output_2_loss: 7.2509 - output_1_accuracy: 0.5238 - output_2_accuracy: 0.5238

WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor. Received: inputs=(<tf.Tensor 'IteratorGetNext:0' shape=(None, 15) dtype=float64>, <tf.Tensor 'IteratorGetNext:1' shape=(None, 15) dtype=float64>). Consider rewriting this model with the Functional API.

91711/91711 [==============================] - 137s 1ms/step - loss: 14.5017 - output_1_loss: 7.2508 - output_2_loss: 7.2508 - output_1_accuracy: 0.5238 - output_2_accuracy: 0.5238 - val_loss: 14.5052 - val_output_1_loss: 7.2526 - val_output_2_loss: 7.2526 - val_output_1_accuracy: 0.5238 - val_output_2_accuracy: 0.5238
Epoch 2/2
91711/91711 [==============================] - 136s 1ms/step - loss: 14.5016 - output_1_loss: 7.2508 - output_2_loss: 7.2508 - output_1_accuracy: 0.5238 - output_2_accuracy: 0.5238 - val_loss: 14.5052 - val_output_1_loss: 7.2526 - val_output_2_loss: 7.2526 - val_output_1_accuracy: 0.5238 - val_output_2_accuracy: 0.5238